require 'rspec/core/rake_task'

RSpec::Core::RakeTask.new(:spec)

--default-path ./
--exclude-pattern vendor/**/*
--exclude-pattern **/vendor/**/*
--exclude-pattern bundle/**/*
--exclude-pattern **/bundle/**/*
--require ./spec_helper
--color
--format d
